.activity-list {
    width: 100%
}

.activity-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5em;
    padding: 0 1em;
    justify-content: center;
}

.activity {
    margin: 1em;
}

.activity-day-dropdown {
    border: black;
    margin: 0.5em auto;
    max-width: 50pc;
}
