/* Place jumbotron in the center of the screen. */
.jumbotron-signin {
  /* Jumbotron is white with slight transparency. */
  background-color: rgba(255, 255, 255, 0.8);
  height: 33vh;
  left: 50%;
  margin: 0;
  /* Ensure a fixed minimum size at small window heights. */
  min-height: 256px;
  padding: 5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

#signin-text {
  margin-bottom: 10%;
}
