:root {
  /* SLURP palette constants */
  --SLURP-BLUE: #264653;
  --SLURP-CYAN: #2A9D8F;
  --SLURP-YELLOW: #E9C46A;
  --SLURP-ORANGE: #F4A261;
  --SLURP-RED: #E76F51;
  --SLURP-OFFWHITE: #FFFDFA;
  --SLURP-GRAY: #545352;
}

/* Set dynamic content to use the entirety of the window. */
html, body, #root, #root>div, #root>div>* {
  height: 100%
}

/* Pages with the hero-image class spans the entire window. */
.hero-image {
  /* Linear gradient adds a slight dark tint to the image. */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                    url('../images/hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
